
@import url('https://fonts.cdnfonts.com/css/avenir');

* {
	font-family: 'Avenir', sans-serif;
}

.background-with-color {
    background-color: #79acaf;
}

.img-header{
	height: 100%;
	width: 100%;
}

.title {
	font-weight: bold;
	color: white;
	
	font-size: 3rem;
	text-transform: uppercase
}

.divporcentaje{
	width: 85%;
}

.sub-title {
	font-weight: bold;
	color: white;
	
	font-size: 1.5rem;
	text-transform: uppercase;
}

.text-resalt {
	color: #79acaf;
	font-weight: bolder;
}

.title2 {
	text-align: center;
	font-size: 2.5rem;
}

.center-img {
	vertical-align: middle;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media (min-width: 1200px) {
	
	.responsive-text {
		font-size: 1.5rem;
  	}
}

@media (max-width: 768px) {
	
	
}